<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mon jeu</title>
</head>
<body>
    <canvas id="game" width="600" height="400"></canvas>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/game.css">
    <script src="../js/pages/map1.js"></script>
    <script src="../js/pages/camera.js"></script>
    <script src="../js/jeu/shared/runtime-logger.js"></script>
    <script src="../js/jeu/shared/image-utils.js"></script>
    <script src="../js/jeu/shared/sprite-utils.js"></script>
    <script src="../js/jeu/shared/ui-utils.js"></script>
    <script src="../js/jeu/shared/collision-utils.js"></script>
    <script src="../js/jeu/shared/progression-utils.js"></script>
    <script src="../js/jeu/shared/cinematics.js"></script>
    <script src="../js/jeu/shared/perk-overlay.js"></script>
    <script src="../js/jeu/shared/boss-health-bar.js"></script>
    <script src="../js/jeu/player/perk-system.js"></script>
    <script src="../js/jeu/player/combat-utils.js"></script>
    <script src="../js/jeu/player/melee-attack.js"></script>
    <script src="../js/jeu/spells/axe-spell.js"></script>
    <script src="../js/jeu/spells/fireball-spell.js"></script>
    <script src="../js/jeu/spells/chaos-aura-spell.js"></script>
    <script src="../js/jeu/spells/black-hole-spell.js"></script>
    <script src="../js/jeu/player/controller-motion.js"></script>
    <script src="../js/jeu/player/controller-persistence.js"></script>
    <script src="../js/jeu/player/controller.js"></script>
    <script src="../js/jeu/map1/audio.js"></script>
    <script src="../js/jeu/map1/runtime-config.js"></script>
    <script src="../js/jeu/map1/runtime-assets.js"></script>
    <script src="../js/jeu/map1/rendering.js"></script>
    <script src="../js/jeu/map1/boss-system.js"></script>
    <script src="../js/jeu/player.js"></script>
    <script src="../js/jeu/enemy/config.js"></script>
    <script src="../js/jeu/enemy/controller.js"></script>
    <script src="../js/jeu/enemy.js"></script>
    <script src="../js/jeu/map2/damage-meter.js"></script>
    <script src="../js/jeu/map1/loop-helpers.js"></script>
    <script src="../js/jeu/map1/game-loop.js"></script>
    <script src="../js/jeu/map1/runtime-setup.js"></script>
    <script src="../js/jeu/game.js"></script>
    <script src="../js/collision_map1.js"></script>
</body>
</html>