<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mon jeu</title>
</head>
<body>
    <canvas id="game" width="600" height="400"></canvas>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/game.css">
    <script src="../js/pages/map1.js"></script>
    <script src="../js/pages/camera.js"></script>
    <script src="../js/jeu/player-movement.js"></script>
    <script src="../js/jeu/player-combat.js"></script>
    <script src="../js/jeu/player-upgrades.js"></script>
    <script src="../js/jeu/player.js"></script>
    <script src="../js/jeu/enemy/config.js"></script>
    <script src="../js/jeu/enemy/controller.js"></script>
    <script src="../js/jeu/enemy.js"></script>
    <!-- Modules du jeu séparés -->
    <script src="../js/jeu/game-setup.js"></script>
    <script src="../js/jeu/game-enemies.js"></script>
    <script src="../js/jeu/game-interface.js"></script>
    <script src="../js/jeu/game-main-loop.js"></script>
    <script src="../js/jeu/game.js"></script>
    <script src="../js/collision_map1.js"></script>
</body>
</html>