<!DOCTYPE html>
<html>

<!-- Page de test de la map -->
<!-- Elle charge tous les scripts pour lancer la boucle de jeu avec canvas. -->

<head>
    <meta charset="UTF-8">
    <title>Mon jeu</title>
</head>
<body>
    <!-- Canvas où se déroule le jeu. -->
    <canvas id="game" width="600" height="400"></canvas>
    <!-- CSS pour le style. -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- Scripts pour la map, caméra, joueur, ennemi, et boucle de jeu. -->
    <script src="../js/pages/map.js"></script>
    <script src="../js/pages/camera.js"></script>
    <script src="../js/jeu/player.js"></script>
    <script src="../js/jeu/enemy.js"></script>
    <script src="../js/jeu/game.js"></script>
   
</body>
</html>