<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mon jeu</title>
</head>
<body>
    <canvas id="game" width="600" height="400"></canvas>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/game.css">
    <script src="../js/pages/map2.js"></script>
    <script src="../js/pages/camera.js"></script>
    <script src="../js/jeu/shared/runtime-logger.js"></script>
    <script src="../js/jeu/shared/sprite-utils.js"></script>
    <script src="../js/jeu/shared/ui-utils.js"></script>
    <script src="../js/jeu/shared/collision-utils.js"></script>
    <script src="../js/jeu/shared/progression-utils.js"></script>
    <script src="../js/jeu/shared/cinematics.js"></script>
    <script src="../js/jeu/shared/perk-overlay.js"></script>
    <script src="../js/jeu/shared/boss-health-bar.js"></script>
        <script src="../js/jeu/player/perk-system.js"></script>
    <script src="../js/jeu/player/combat-utils.js"></script>
    <script src="../js/jeu/map2/audio.js"></script>
        <script src="../js/jeu/player.js"></script>
    <script src="../js/jeu/enemy/config.js"></script>
    <script src="../js/jeu/enemy/controller.js"></script>
    <script src="../js/jeu/enemy.js"></script>
    <script src="../js/jeu/map2/damage-meter.js"></script>
    <script src="../js/jeu/map2/boss-system.js"></script>
    <script src="../js/jeu/map2/loop-update.js"></script>
    <script src="../js/jeu/map2/loop-player-state.js"></script>
    <script src="../js/jeu/map2/loop-render-scene.js"></script>
    <script src="../js/jeu/map2/loop-render-hud.js"></script>
    <script src="../js/jeu/map2/game-loop.js"></script>
    <script src="../js/jeu/map2/runtime-helpers.js"></script>
    <script src="../js/jeu/game2.js"></script>
    <script src="../js/collision_map2.js"></script>

</body>
</html>